NEXT_PUBLIC_SITE_URL=https://asterunee.vercel.app
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_CODEFORCES_URL=
NEXT_PUBLIC_ATCODER_URL=
NEXT_PUBLIC_LEETCODE_URL=
NEXT_PUBLIC_CODECHEF_URL=
NEXT_PUBLIC_REPOVIVE_URL=
NEXT_PUBLIC_YUKICODER_URL=
NEXT_PUBLIC_CLIST_URL=
NEXT_PUBLIC_KEYSTATIC_STORAGE=local
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
